.header {
    grid-area: head;
    background-color: #7477BF;
}
.navigation {
    grid-area: navigation;
    background-color: #4D4C72;
}
.main-grid {
    grid-area: main;
    /* background-color: blue; */
}
.dashboard {
    grid-area: dashboard;
    /* background-color: orange; */
}
.traffic {
    grid-area: traffic;
    /* background-color: red; */
}
.daily-traffic {
    grid-area: daily;
    background-color: lightgreen;
}
.mobile-users {
    grid-area: mobile;
    background-color: green;
}
.social {
    grid-area: social;
    background-color: yellow;
}
.new-members {
    grid-area: new;
    background-color: plum;
}
.recent-activity {
    grid-area: recent;
    background-color: purple;
}
.message-user {
    grid-area: message;
    background-color: pink;
}
.settings {
    grid-area: settings;
    background-color: palevioletred;
}
.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: 
      "head"
      "navigation"
      "main";
  }
/*=========================================== MEDIA QUERIES =======================================*/
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1 fr;
        grid-template-areas:
        "head head"
        "main main";
    }
    .main-grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 75px 1fr 1fr;
        grid-template-areas:
        "navigation dashboard dashboard"
        "navigation traffic traffic"
        "navigation daily mobile"
        "navigation social social"
        "navigation new recent"
        "navigation message settings";
    }
}



