.header {
    grid-area: head;
    background-color: #7477BF;
}
.navigation {
    grid-area: navigation;
    background-color: grey;
}
.main-grid {
    grid-area: main;
}
.dashboard {
    grid-area: dashboard;
}
.traffic {
    grid-area: traffic;
}
.dailyMobile-traffic {
    grid-area: daily;
}
.social {
    grid-area: social;
}
.members {
    grid-area: members;
}
.messageSettings {
    grid-area: message;
}
.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: 
      "head"
      "navigation"
      "main";
  }
/*=========================================== MQ TABLET =======================================*/
@media (min-width: 768px) {
    .alert {
        grid-area: alert;
    }
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "head head"
        "main main";
    }
    .main-grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 75px 370px 370px;
        grid-template-areas:
        "navigation dashboard dashboard"
        "navigation alert alert"
        "navigation traffic traffic"
        "navigation daily daily"
        "navigation social social"
        "navigation members members"
        "navigation message message";
    }
}
 

